.practionsers-container {
  padding: 40px;
  background-color: #f4f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.practionsers-container > h1 {
  font-size: 60px;
  font-weight: bold;
}
.practionsers {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 450px 450px 450px;
  grid-gap: 40px;
}
.practionser {
  padding: 25px 40px;
  font-size: 30px;
  text-align: center;
  background-color: white;
  border-radius: 45px 45px 45px 15px;
}
.practionsers-filter {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
  justify-content: flex-end;
}
.practionsers-filter > div {
  display: flex;
  gap: 10px;
}
.practionsers-filter > div h4 {
  font-size: 22px;
  color: #083239;
}
.practionsers-filter > div select {
  background-color: orange;
  border: 2px solid transparent;
  color: white;
}
/* .practionsers-filter > div input {
  border: none !important;
  width: 2rem;
  height: 2rem;
  accent-color: green;
} */
input[type="checkbox"] {
  position: relative;
  border: 2px solid orangered;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0.4em 1em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 22px;
  width: 22px;
  appearance: none;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: orange;
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}
.practionser-heading {
  display: flex;
  align-items: center;
  gap: 30px;
}
.practionser-heading > img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}
.practionser-heading > div {
  margin-bottom: 20px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}
.practionser-heading > div > h3 {
  font-size: 26px;
  letter-spacing: 1.6px;
  margin-top: 5px;
}
.practionser-heading > div > h5 {
  font-size: 16px;
  text-align: left;
  color: #083239;
}

.practionser-heading > div > div {
  display: flex;
  gap: 5px;
}
.practionser-heading svg {
  width: 20px;
}
.practionser-description > p {
  font-size: 20px;
  color: #707070;
  text-align: left;
  padding: 20px 20px 40px 0;
}
.practionser-description > button {
  float: left;
}
@media (max-width: 1500px) {
  .practionsers {
    grid-template-columns: 300px 300px 300px;
  }
  .practionsers-container > h1 {
    font-size: 50px;
  }
  .practionsers {
    grid-gap: 20px;
  }
  .practionser {
    padding: 20px 15px;
  }
  .practionser-heading {
    gap: 15px;
  }
  .practionser-heading > div > div {
    grid-gap: 2px;
  }
  .practionser-heading > div > h3 {
    font-size: 18px;
  }
  .practionser-description > p {
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  .practionsers {
    grid-template-columns: 300px 300px;
  }
  .practionsers-container > h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .practionsers {
    grid-template-columns: 300px;
  }
  .practionsers-container > h1 {
    font-size: 30px;
    text-align: center;
  }
}

.product-shop-filter-section6 {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}
.product-shop-filter-section6 > div {
  display: flex;
  gap: 15px;
}
.product-shop-filter-section6 > div > svg {
  width: 30px;
  height: 30px;
}
.product-shop-filter-section6 > div > svg:hover {
  opacity: 0.4;
}

.product-shop-filter-section6 > p {
  font-size: 18px;
  font-weight: 600;
}
.product-shop-filter-section6 h3 {
  font-size: 26px;
  color: #083239;
  padding-right: 10px;
}

.clear-filter {
  border: 2px solid #083239;
  border-radius: 10px;
  padding: 5px 10px;
}
