@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

@font-face {
  font-family: "Jazmin Alt";
  src: url("/public/fonts/JazminAlt-Bold.woff") format("woff2"),
    url("/public/fonts/JazminAlt-Bold.woff") format("woff"),
    url("/public/fonts/JazminAlt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: white;
  height: fit-content;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jazmin Alt";
  color: black;
}
h1,
h2 {
  color: #083239;
}
body {
  overflow-x: hidden !important;
}
